body{
    font-size: 1.125rem;
    font-family: source sans;
    margin: 0;
}

/***************** Typography ******************/

.top-title{
    border-top: 1em solid orange;
    color: orange;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 1.75rem;  
}

.small{
    font-size: 0.625rem;
}


/* .reg_title {  
    background-image: url(../img/dark_ribs.png);
    background-size: cover;
} */

.reg_title {
    border: 5px solid aqua;
    text-align: center;
}

.container {
    display: flex;
    border: 5px solid blue;
    height: 100vh;
}

.registration{
    border: 5px solid orange;    
}