body {
    font-size: 16px;
}

.container {
    background: #f1f1f1;
    width: 450px;
    margin: 0 auto;
    padding: 25px;
}

h1 {    
    font-size: 48px;
    color: #2e7ad3;
    text-align: center;
    margin: 45px 0;
}

img{
    width: 450px;
}

h2 {
   font-size: 32px;  
   color: #104c90;
   margin: 0 0 10px;
}

p {
    font-size: 16px; 
    margin-bottom: 9px;
}

a:link, a:visited{
  color: #ff8000;
  font-weight: bold;
}

a:hover, 
a:focus {
    color: #104c90;
}

.read-more{
    margin: 0;
}