body{
    margin: 0;
    font-size: 21px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
}

.container{
    width: 570px;
    margin: 0 auto; 
}

header, section {
    padding: 100px 0;
}

header{
    background: #D7D7D7;
}

/* .about-me {
    background: #FFEAEA;
} */

.articles {
    background: #EAF9FF;
}

.accent-text{
    display: block;
}

.accent-text,
.name,
time{
    font-weight: 900;
    color: #99D930;
}

h1 .accent-text{
    font-size: 80px;
    margin-top: 0;
}

h2 .accent-text{
    font-size: 60px;
    margin-top: 0;
}

h1,h2{
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 60px;
}

h2 {    
    font-size: 42px;
    margin-top: 0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    padding: 20px 0;
    margin-bottom: 20px;
}

h3{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

.small-text {
    font-size: 16px;
    margin-top: 5px;
}

a{
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #FFF;
}

.inverse{
    background: #000;
    color: #FFF;
}

.inverse .btn:hover,
.inverse .btn:focus{
    background: #FFF;
    color: #252525;
}

.btn{
    background-color: #99D930;
    color: #252525;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
}

.btn:hover,
.btn:focus{
    background-color: #252525;
    color: #FFF;
}
